<?xml version="1.0"?>
<launch>
  <node ns="wamv" pkg="robot_state_publisher" type="robot_state_publisher" name="wamv_state_pub">
    <param name="publish_frequency" value="20" />
    <param name="tf_prefix" value="wamv" />
    <param name="use_tf_static" value="true" type="bool" />
  </node>
</launch>
